<!DOCTYPE html>
{% extends  "base.html" %}

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
      {% block content%}
      <div class="cont text-center"> 
      <h1>Contact Us</h1>
      <div class="contact bg-primary text-center">
       
        
        <h2>Emergency Contact Number: 0123456789</h2>
        
             <h3> © 2022 City Hospital. All Rights Reserved</h3>
            </div>
          </div>
        </div>
       
      {%endblock%}
        
        <script src="" async defer></script>
    </body>